/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

html, body {
  height: 100%;
  text-align: center;
  
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: large;
  font-weight: 600;
}

a, a:visited {
  color: hsl(206, 50%, 50%);
}

a:hover {
  color: hsl(206, 100%, 50%);
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  pointer-events: none;
}

#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px dotted rgb(220, 220, 220);
}

#controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.panel {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#title {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 500px;
}

#splash {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: hsl(206,50%,90%);
  z-index: 10;
}

#page {
  padding: 1em 3em 3em 3em;
  font-size: large;
  z-index: -10;
}

#page h1 {
  font-size: xx-large;
  padding: 1em 0;
}

#page p {
  padding: 1em;
}